* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
}

img {
	object-fit: cover;
	width: 50px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link .show > .nav-link {
	background-color: #ffc107 !important;
	color: black !important;
	border-width: 0 !important;
}

.grades {
	line-height: 0.5;
}

h2 {
	color: #ffc107;
	text-shadow: 0 0 5px #202020;
}
